<h1>The Wikis</h1>


<% @wikis.each do |wiki| %>
  <% if wiki.private%>
    <h1>These are your private wikis</h1>
    <div class="media">
      <div class="media-body wiki-link">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %> alalal
        </h4>
      </div>
    </div>
  <% end %>
<% end %>
